/* Dine styles her */
form {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
}
label,
input,
textarea,
select,
button {
  display: block;
}

button {
  background-color: #5000ca;
  opacity: 0.8;
  color: white;
  width: 25%;
}
